.calendar {
	top: 0em;
	left: 1em;
	padding-top: 5px;
	width: 80px;
	background: #ededef;
	font-size: 54px;
	text-align: center;
	color: #000;

	border-radius: 3px;
	position: absolute;
}

.calendar em {
	display: block;
	font-size: 15px;
	color: #fff;
	background: grey;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.calendar::before {
	content: "";
	float: left;
	width: 8px;
	height: 8px;
	background: #111;
	z-index: 1;
	border-radius: 10px;
	box-shadow: 0 1px 1px #fff;
	position: absolute;
	bottom: 53px;
	left: 11px;
}
.calendar::after {
	content: "";
	float: left;
	width: 8px;
	height: 8px;
	background: #111;
	z-index: 1;
	border-radius: 10px;
	box-shadow: 0 1px 1px #fff;
	position: absolute;
	bottom: 53px;
	right: 11px;
}

.calendar em::before {
	content: "";
	float: left;
	margin: 10px;
	width: 4px;
	height: 14px;
	background: lightgray;
	z-index: 2;
	border-radius: 3px;
	position: absolute;
	bottom: 48px;
	left: 3px;
}
.calendar em::after {
	content: "";
	float: left;
	margin: 10px;
	width: 4px;
	height: 14px;
	background: lightgray;
	z-index: 2;
	border-radius: 3px;
	position: absolute;
	bottom: 48px;
	right: 3px;
}
